# Firebase
.firebase/hosting.*.log
.firebase/usage.log
.firebase/debug.log
.firebase/previews.log

# Miscellaneous
.DS_Store

# Node
node_modules
npm-debug.log
yarn-error.log

# Build output
dist
dist-ssr

# Environment variables
.env
.env.*
!.env.example
